<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}">
</head>
<body>

<div th:fragment="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="#"><< RESZTA >></a></li>
        <li><a href="/users">Użytkownicy</a></li>
        <li><a href="/admin">Panel admina</a></li>
        <li><a href="/confirmorder">Koszyk</a></li>
        <li style="float:right"><a href="/register">Zarejestruj</a></li>
        <li style="float:right"><a class="active" href="/login">Zaloguj</a></li>
        <li style="float:right"><a class="inactive" href="/logout">Wyloguj</a></li>
    </ul>
</div>

</body>
</html>