<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}">
</head>
<body>

<div th:fragment="navbar">
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/confirmorder">Koszyk</a></li>

            <li style="margin-left: 30pt" th:if="${isAdmin} == true"><a href="/users">Użytkownicy</a></li>
            <li th:if="${isAdmin} == true"><a href="/admin">Panel admina</a></li>
            <li th:if="${isAdmin} == true"><a href="/orderlist">Zamowienia</a></li>

            <li style="float:right" th:if="${isAuthenticated} == false"><a href="/register">Zarejestruj</a></li>
            <li style="float:right" th:if="${isAuthenticated} == false"><a class="active" href="/login">Zaloguj</a></li>
            <li style="float:right" th:if="${isAuthenticated} == true"><a class="inactive" href="/logout">Wyloguj</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>