.navbar {
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul .admin-nav {
    background-color: #095484;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar li.admin-nav a:hover:not(.active) {
    background-color: #03354e;
}

.navbar .active {
    background-color: #1f8536;
}

.navbar .inactive {
    background-color: #b51f1f;
}
