<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Dodawanie dania</title>
    <link rel="stylesheet" type="text/css" href="../static/css/adminPanelStyle.css" th:href="@{/css/adminPanelStyle.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">

</head>
<body>

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="#"><< RESZTA >></a> </li>
        <li><a href="/users">Użytkownicy</a></li>
        <li><a href="/admin">Panel admina</a></li>
        <li style="float:right"><a href="/register">Zarejestruj</a></li>
        <li style="float:right"><a class="active" href="/login">Zaloguj</a></li>
        <li style="float:right"><a href="/logout">Wyloguj</a></li>
    </ul>
</div>

<form th:action="@{/add-meal}" th:object="${emptyMeal}" method="post">
    <div class="banner">
        <h1>Dodawanie jedzenia</h1>
    </div>
    <h2>Szczegóły</h2>
    <div class="item">
        <p>Nazwa</p>
        <div class="name-item">
            <input type="text" name="name" placeholder="Nazwa jedzenia" th:field="*{foodName}"/>
        </div>
    </div>
    <div class="item">
        <p>Kategoria</p>
        <select th:field="*{foodCategory}">
            <option th:each="category: ${foodCategories}" th:value="${category.id}"
                    th:text="${category.categoryName}"></option>
        </select>
    </div>
    <div class="item">
        <p>Cena</p>
        <div class="name-item">
            <input type="number" name="price" placeholder="Cena" th:field="*{price}"/>
        </div>
    </div>
    <div class="btn-block">
        <button type="submit">Dodaj</button>
    </div>
</form>
</body>
</html>