<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
</head>
<body>

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="#"><< RESZTA >></a></li>
        <li><a href="/users">Użytkownicy</a></li>
        <li><a href="/admin">Panel admina</a></li>
        <li><a href="/confirmorder">Koszyk</a></li>
        <li style="float:right"><a href="/register">Zarejestruj</a></li>
        <li style="float:right"><a class="active" href="/login">Zaloguj</a></li>
        <li style="float:right"><a class="inactive" href="/logout">Wyloguj</a></li>
    </ul>
</div>

<h1>Order:</h1>
<table>
    <thead>
    <tr>
        <td>Nazwa</td>
        <td>Ilość</td>
        <td>Kwota razem</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart}">
        <td th:text="${item.getFood().getFoodName()}"></td>
        <td th:text="${item.getQuantity()}"></td>
        <th:block th:with="var = ${item.getFood().getPrice() * item.getQuantity()}">
            <td th:text="${var}"></td>
        </th:block>
    </tr>
    </tbody>

</table>
<form th:action="@{/checkout}" th:object="${cart}" method="post">
    <input type="submit" value="Zamow">
</form>
</body>
</html>