<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>


<h1>Strona do edytowania jedzenia</h1>
<form method="post" th:action="@{/update-item}" th:object="${editedFood}">
    <input type="hidden" name="foodId" th:value="${editedFood.getId()}"> <!-- było ${id} sprobuj z *{id} -->
    <p th:text="Nazwa"></p>
    <input type="text" name="foodName" th:value="${editedFood.getFoodName()}">
    <p th:text="Cena"></p>
    <input type="number" name="foodPrice" th:value="${editedFood.getPrice()}">

    <input type="submit">
</form>
</body>
</html>