<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}">
    <link rel="icon" type="image/jpg" href="../static/images/shortcuticon.jpg" th:href="@{/images/shortcuticon.jpg}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>


<h1>Strona do edytowania jedzenia</h1>
<form method="post" th:action="@{/update-item}" th:object="${editedFood}">
    <input type="hidden" name="foodId" th:value="${editedFood.getId()}">

    <label>Nazwa:
        <input type="text" name="foodName" th:value="${editedFood.getFoodName()}">
    </label><br>

    <label>Cena
        <input type="number" name="foodPrice" th:value="${editedFood.getPrice()}">
    </label><br>

    <input type="submit">
</form>
</body>
</html>