<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">

    <title>Pizza Czapka</title>
    <style>
        img.center {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1 class="body-title">Pizza Czapka</h1>
<img class="center" width="500px" height="500px" th:src="@{/images/pineapple.jpg}">


</body>
</html>