<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Menu</title>
    <style>
        input {
            width: 50pt;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/menustyling.css" th:href="@{/css/menustyling.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}">
    <link rel="icon" type="image/jpg" href="../static/images/shortcuticon.jpg" th:href="@{/images/shortcuticon.jpg}">


</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>


<h1 th:if="${isAdmin}==true">Jesteś adminem</h1>
<table>
    <tr th:if="${allCategories.empty}">
        <td colspan="2">Brak kategorii</td>
    </tr>
    <tr th:each="category : ${allCategories}">
        <td style="display: block; clear: both"><h1 th:text="${category.categoryName}">category_name</h1></td>
        <td>
            <table>
                <thead>
                <tr>
                    <th class="item-name">Nazwa</th>
                    <th class="item-price">Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${foodService.getAllFromCategory(category.categoryName).empty}">
                    <td colspan="2">Brak produktów</td>
                </tr>
                <tr th:each="food, iStat : ${foodService.getAllFromCategory(category.categoryName)}">
                    <td class="item-name"><p th:text="${food.foodName}">food_name</p></td>
                    <td class="item-price"><p th:text="${food.price}">food_price</p></td>
                    <td>
                        <form th:action="@{/add-to-cart}" method="post">
                            <input type="hidden" th:value="${food.id}" name="foodId">
                            <input type="number" name="quantity" th:value="1">
                            <input type="submit" th:value="Dodaj">
                            <input class="admin-btn" type="submit" th:formaction="@{/edit-item}" th:value="Edytuj"
                                   th:if="${isAdmin}==true">
                            <input class="admin-btn" type="submit" th:formaction="@{/remove-item-from-db}"
                                   th:value="Usuń" th:if="${isAdmin}==true">
                        </form>
                    </td>
                </tr>
                <tr th:if="${isAdmin} == true">
                    <form th:action="@{/add-food-to-category}" th:object="${emptyFood}" method="post">
                        <input type="text" name="newFoodName" th:placeholder="Nazwa" th:field="*{foodName}">
                        <input type="hidden" name="newCatId" th:value="${category.id}">
                        <input type="number" name="newFoodPrice" th:field="*{price}">
                        <input type="submit" th:value="Stwórz">
                    </form>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

</body>
</html>