<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}">
    <link rel="icon" type="image/jpg" href="../static/images/shortcuticon.jpg" th:href="@{/images/shortcuticon.jpg}">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1 th:text="${ 'Witaj ' + loggedUser.login}"></h1>
<p th:text="${'Imie: ' + loggedUser.getFirstName()}"></p>
<p>
<p th:text="${'Nazwisko: ' + loggedUser.getLastName()}"></p></p>
<p>
<p th:text="${'Login: ' + loggedUser.getLogin()}"></p></p>
<p>
<p th:text="${'E-mail: ' + loggedUser.getEmail()}"></p></p>
<p th:text="'Konto:'">
    <p th:if="${userDetails.isEnabled() == true}" style="color: #1f8536" th:text="aktywne"></p>
    <p th:if="${userDetails.isEnabled() == false}" style="color: #b51f1f" th:text="nieaktywne"></p>
</p>
<h1 th:if="${userDetails.isAccountNonLocked() == false}" th:text="Konto zablokowane" style="color: #b51f1f"></h1>
<h3>Zmiana hasła:</h3>
<form th:action="@{/change-password}" method="post">
    <label>Hasło:
        <input type="text" name="prevPass">
    </label><br>
    <label>Nowe hasło:
        <input type="text" name="newPass">
    </label><br>
    <label>Powtórz:
        <input type="text" name="newPassReEnter">
    </label><br>
    <input type="submit" value="Zmień">
</form>

<form th:action="@{/edit-address}" method="post">
    <label>Adresy: <br>
        <select id="addressSelect" onchange="showElement()">
            <option>Wybierz adres</option>
            <option th:each="address : ${userAddresses}"
                    th:text="${address.getStreetName() + ' ' + address.getStreetNumber()}"
                    th:value="${userAddresses.indexOf(address)}" name="addressId"></option>
        </select>
    </label>
    <input type="submit" th:value="Edytuj">
    <input type="submit" th:formaction="@{/new-address}" th:value="Nowy">
</form>

<div id="addressEdit">
    <form>
        <input id="editingAddressId" type="hidden" value="tmp">
        <input id="editingStreetName" type="text" value="tmp">
        <input id="editingStreetNumber" type="text" value="tmp">
        <input id="editingStreetApartment" type="text" value="tmp">
        <input type="submit" th:value="Zmień">
    </form>
</div>


<h1>Historia zamówień</h1>
<table>
    <thead>
    <tr>
        <td>Data</td>
        <td>Kwota</td>
        <td>Szczegóły</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
    </tr>
    </tbody>
</table>



<script>
    console.log("test loggera");
    var editing = document.getElementById("addressEdit");
    var addressSelect = document.getElementById("addressSelect");
    var addressIndex;
    editing.style.display = "none"

    function showElement() {
        addressIndex = addressSelect.value;
        // document.getElementById("editingStreetName").value = streetName;
        editing.style.display = "none"
        editing.style.display = "block";
        console.log("wywolano funkcje");
    }
</script>

</body>
</html>