<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja w bazie</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1>Rejestracja:</h1>
<form th:action="@{/add-user}" th:object="${emptyUser}" method="post">
    <p>Imie:<input type="text" th:field="*{firstName}"></p>
    <p>Nazwisko:<input type="text" th:field="*{lastName}"></p>
    <p>E-mail:<input type="text" th:field="*{email}"></p>
    <p>login:<label>
        <input type="text" th:field="*{login}">
    </label></p>
    <p>haslo:<label>
        <input type="password" th:field="*{password}">
    </label></p>
    <p><input type="submit" value="Rejestruj"></p>
</form>

</body>
</html>